<p-table [value]="Users" [lazy]="true" (onLazyLoad)="paginate($event)" [paginator]="true" [rows]="10"
  [totalRecords]="_total" [loading]="loading" [responsive]="true" selectionMode="single" [(selection)]="selectedUser" dataKey="id" editMode="row">
  <ng-template pTemplate="header">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Contact</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Email Confirmed</th>
      <th style="width:8em"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-editing="editing" let-ri="rowIndex">
    <tr [pEditableRow]="item">
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="item.firstName" required>
          </ng-template>
          <ng-template pTemplate="output">
            {{item.firstName}}
          </ng-template>
      </p-cellEditor>
    </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="item.lastName" required>
          </ng-template>
          <ng-template pTemplate="output">
            {{item.lastName}}
          </ng-template>
      </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="item.phoneNumber" required>
          </ng-template>
          <ng-template pTemplate="output">
            ({{item.phoneNumber | slice:0:3 }}) {{item.phoneNumber | slice:3:6}}-{{item.phoneNumber | slice:6:9}}
          </ng-template>
      </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="item.email" required>
          </ng-template>
          <ng-template pTemplate="output">
            {{item.email}}
           </ng-template>
      </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="item.gender" required>
          </ng-template>
          <ng-template pTemplate="output">
            {{item.gender == "M" ? "Male" : "Female"}}
           </ng-template>
      </p-cellEditor>
      </td>
      <td>{{item.emailConfirmed}}</td>      
      <td style="text-align:center">
        <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(item)"></button>
        <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(item)"></button>
        <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(item, ri)"></button>
    </td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog header="Confirmation" icon="fa fa-exclamation-triangle" width="425" #cd>
  <p-footer>
    <button type="button" pButton icon="fa fa-fw fa-times" label="No" (click)="cd.reject()"></button>
    <button type="button" pButton icon="fa fa-fw fa-check" label="Yes" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>