<p-table [value]="Users" [lazy]="true" (onLazyLoad)="paginate($event)" [paginator]="true" [rows]="10"
  [totalRecords]="_total" [loading]="loading">
  <ng-template pTemplate="header">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Contact</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Email Confirmed</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{item.firstName}}</td>
      <td>{{item.lastName}}</td>
      <td>({{item.phoneNumber | slice:0:3 }}) {{item.phoneNumber | slice:3:6}}-{{item.phoneNumber | slice:6:9}}</td>
      <td>{{item.email}}</td>
      <td>
          {{item.gender == "M" ? "Male" : "Female"}}
      </td>
      <td>{{item.emailConfirmed}}</td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog header="Confirmation" icon="fa fa-exclamation-triangle" width="425" #cd>
  <p-footer>
    <button type="button" pButton icon="fa fa-fw fa-times" label="No" (click)="cd.reject()"></button>
    <button type="button" pButton icon="fa fa-fw fa-check" label="Yes" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>